<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de clientes</title>
</head>
<body>
<!-- Utlilza th:text para mostrar el valor del atributo 'titulo' pasado desde el controlador -->
<h1 th:text="${titulo}">Texto de reemplazo si el título no se encuentra</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Ciudad</th>
    </tr>
    <tbody>
        <tr>
            <td>1</td>
            <td>Óscar</td>
            <td>+3214215215</td>
            <td>Ciudad Real</td>
        </tr>
    </tbody>
</table>
</body>
</html>